/* General Styles */
body {
    background-color: #7F95D1;
    margin: 0;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

}

h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

.selector1{
    color: #0114FF;
}
#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--canvas-bg, #ffffff);
    border: 2px solid var(--border-color, #ccc);
    max-width: 90%;
    position: relative;
}

canvas {
    cursor: grab;
}

.titles{
    font-size: 20px;
    font-weight: bold;

}
#controls {
    margin-top: 20px;
}

input[type="file"], input[type="number"], select {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    color: #000000;
    border-radius: 5px;
}

input#file-input{
    background-color: #666dfd;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: #366c9c 1px 1px 2px;
}

input#file-input:hover {
    background-color: #4a4ed9;
}

.saveknap{
    background-color: #666dfd;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: #366c9c 2px 3px 2px;
}
.saveknap:hover {
    background-color: #4a4ed9;
    border-radius: 5px;
    margin: 10px;
}

button {
    background-color: var(--button-bg, #6B4226);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-bg, #4A3022);
}

label{
    color: #ffffff;
}
/* Selected Image Highlight */
.selected {
    animation: blink-border 1s step-end infinite;
}

@keyframes blink-border {
    50% {
        border: 2px dashed transparent;
    }
}

